@model Entities.BlogCategory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlogCategoryName" class="control-label"></label>
                <input asp-for="BlogCategoryName" class="form-control" />
                <span asp-validation-for="BlogCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogCategoryIcon" class="control-label"></label>
                <input name="newBlogCatPhoto" class="form-control" type="file/>
                <span asp-validation-for="BlogCategoryIcon" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BlogCategoryIcon" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

