@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <style>
        .form-inline .btn{
            margin:0;
            padding:8px 12px;
            background:#fd7e14;
            color:white;
            border-radius:5px;
        }

    </style>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <ul class="d-flex align-items-center">
           <li class="nav-item">
            <a style="font-size:16px;font-weight:600;"  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>
          </li>
                   <li class="nav-item ms-3">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link ">Logout</button>
        </form>
    </li>
    </ul>
 
 
}
else
{
     <a style="font-size:35px;" title="Login Register" asp-area="Identity" asp-page="/Account/Login"><i class="pe-7s-user"></i></a>
}
</ul>
